.to-do-item {
  display: flex;
  align-items: center;
  font-size: 32px;
  width: 400px;
  margin-top: 2px;
}

.to-do-item__textbox {
  flex: 1;
}

.to-do-item__edit-button,
.to-do-item__save-button {
  margin-left: auto;
}
